.message-header-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;

  font-weight: 500;
}

.message-text-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
